<!-- templates/index.html -->

{% extends "web/_base.html" %}

{% block content %}

  <!-- center div  -->
<div class="flex mx-96 text-center content-center items-center"> 
  <div class="flex flex-col w-60">
    <div class="flex-1 text-2xl">Eleceed</div>
    <img src="https://i.imgur.com/kgUe0DE.jpeg" alt="Eleceed" >
  </div>
  <div class="flex flex-col mt-6 ml-4">
    <div class="flex-1">Kayden is a secret agent on the run, who finds himself stuck in the body of a…um…decidedly fat old fluffy cat.</div>
  </div>
</div>

{% endblock content %}